html, body {
    scroll-behavior: smooth;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 86.5vh; /* Reduziert auf 80% der Höhe */
}

.tabs .tab a {
    color: #512da8; /* Farbe der Tabs */
}

.tabs .tab a.active {
    color: #673ab7; /* Farbe des aktiven Tabs */
}

.tabs .indicator {
    background-color: #673ab7; /* Farbe des Indikators */
}

footer {
    text-align: center;
    padding: 20px 0;
}



img {
    height: 50vh;
}


