html, body {
    scroll-behavior: smooth;


}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    
    
}

img {
    height: 80vh;
}

.loginbody {
    background: rgb(36,8,47);
    background: linear-gradient(90deg, rgba(36,8,47,1) 20%, rgba(63,26,128,1) 100%);
}